:root {
  --tui-base-01: #e7fff6;
  --tui-base-02: #b1fdca;
  --tui-base-03: #46a867;
  --tui-base-04: #46a867;
  --tui-base-05: #457f58;
  --tui-primary: #33e397;
  --tui-primary-hover: #249b68;
  --tui-link: #33e397;
  --tui-link-hover: #249b68;
}
